body {
    position:absolute;
}

header {
    width:1100px;
    background-image: url(https://picsum.photos/id/1056/1100/150);
}

header > h2 {
    color :blue;
    margin-left:20px;
    margin-top:10px;
}

header > ul {
    background-color: rgb(116, 116, 116);
    list-style-type: none;
    margin-top: 50px;
    padding: 0;
}
ul:after{
    content:'';
    display: block;
    clear:both;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.menubar) {
    background-color: #111;
}
.menubar {
    background-color: #4CAF50;
}

#time{
    text-align: left;
    float:left;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 50px;
    font-size: 20px;
}

#sign-up {
    border-color : black;
    float : left;
    width:400px;
    margin-right: 2em;   
    margin-left : 500px;
    margin-top: 50px;
    
}

#sign-up > #user-id{
    background-color: gray;
}

#sign-up > #password{
    background-color: gray;
}

#sign-up > #confirm-password{
    background-color: gray;
}

#sign-up > #birth{
    background-color: gray;
}

#main {
    float : left;
    width:800px;

}